<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Bookable dates</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/admin-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body class="container">

<div th:replace="~{layouts/admin-layout :: header}"></div>
<form th:action="@{/admin/add-dates/confirm-dates}" id="timeForm">
    <div id="dateInputs">
        <div class="form-group">
            <label for="fromDate">From Date:</label>
            <input type="date" id="fromDate" name="fromDate" class="form-control w-25" required>
        </div>
        <div class="form-group">
            <label for="toDate">To Date:</label>
            <input type="date" id="toDate" name="toDate" class="form-control w-25" required>
        </div>
    </div>

    <div th:if="${errorMessage != null}">
        <p th:text="${errorMessage}" class="text-danger"></p>
    </div>

    Hours:
    <div id="timeInputs">
        <div class="time-group">
            <label>
                <input type="time" name="time" required>
            </label>
            <button type="button" class="btn btn-danger btn-sm remove-time" onclick="removeTimeInput(this)">
                Remove
            </button>
        </div>
        <div class="time-group">
            <label>
                <input type="time" name="time" required>
            </label>
            <button type="button" class="btn btn-danger btn-sm remove-time" onclick="removeTimeInput(this)">
                Remove
            </button>
        </div>
    </div>
    <button type="button" class="btn btn-warning" onclick="addTimeInput()">Add Time slot</button>
    <br>
    <button type="submit" class="btn btn-success confirm-date-button">Confirm</button>
</form>

<div class="month-picker">
    <a th:href="@{/admin/add-dates/(year=${prevYear}, month=${prevMonth})}">
        <i class="fas fa-angle-left"></i>
    </a>
    <h2 th:text="${#temporals.format(T(java.time.LocalDate).of(year, month, 1), 'MMMM yyyy')}"></h2>
    <a th:href="@{/admin/add-dates/(year=${nextYear}, month=${nextMonth})}">
        <i class="fas fa-angle-right"></i>
    </a>
</div>
<div th:replace="~{layouts/calendar-layout :: calendar}"></div>
<table data-base-link="/admin/add-dates/change-bookable-date"></table>

<script src="/js/send-bookable-date-through-calendar.js"></script>
<script src="/js/add-or-remove-hours.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>
