<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="container">
<div th:replace="~{layouts/admin-layout :: header}"></div>

<div th:if="${landingPageSingleLineMessage != null}">
    <p th:text="${landingPageSingleLineMessage}"></p>
</div>

<div th:if="${bookingAdded != null}">
    <p th:text="${bookingAdded}"></p>
    Bookable hours available:
    <span th:each="time : ${bookableDate.getBookableHours()}"
          th:text="${time.hour} + ' '"
          th:classappend="${time.booked} ? 'text-danger text-decoration-line-through' : 'text-success'"></span>
    <br>
    <a th:href="@{/admin/add-dates/change-bookable-date(date=${bookableDate.getDate()})}">
        <button class="btn btn-secondary">Change available hours</button>
    </a>
</div>

</body>
</html>