<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="container">
<div th:replace="~{layouts/admin-layout :: header}"></div>

<p th:if="${errorMessage != null}" th:text="${errorMessage}" class="text-danger"></p>
<p th:if="${successMessage != null}" th:text="${successMessage}" class="text-success"></p>

<div th:if="${bookingAdded != null}">
    <p th:text="${bookingAdded}"></p>
    <div th:if="${bookableDate != null}">
        Bookable hours available:
        <span th:each="time : ${bookableDate.getBookableHours()}"
              th:text="${time.hour} + ' '"
              th:classappend="${time.booked} ? 'text-danger text-decoration-line-through' : 'text-success'"></span>
        <br>
        <a th:href="@{/admin/add-dates/change-bookable-date(date=${bookableDate.getDate()})}">
            <button class="btn btn-secondary">Change available hours</button>
        </a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>