<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Tattoo</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="~{layouts/admin-layout :: header}"></div>
<br><br>
<table class="centered">
    <thead>
    <tr>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
    </tr>
    <tr>
        <th colspan="7" style="height: 20px;"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="week : ${weeks}">
        <td th:each="day : ${week}">
            <div th:if="${day != null}" class="calendar-date">
                <a th:href="@{/booking/book-tattoo-at-date(date=${day.date})}"
                   th:with="formattedDate=${day.date.dayOfMonth}"
                   th:text="${formattedDate}"
                   th:style="'color:' + ${day.color}">
                </a>
            </div>
            <div th:if="${day == null}" class="empty-date"></div>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>