<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Booking information</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/admin-style.css">
</head>
<body class="container">
<div th:replace="~{layouts/admin-layout :: header}"></div>
<h2 th:text="${booking.date.getDayOfMonth()} + ' ' + ${booking.date.getMonth()} + ' ' + ${booking.date.getYear()}"></h2>
<h4 th:if="${booking.touchUp == true}" class="text-success">Touch up</h4>
<p th:text="${'Time: ' + #temporals.format(booking.date, 'HH:mm')} + ' - ' + ${#temporals.format(booking.endTime, 'HH:mm')}"></p>

<div th:replace="~{layouts/admin-layout :: feedback-full}"></div>

<div class="card" style="margin-bottom: 10px;">
    <span class="card-header">Customer:</span>
    <div class="card-body">
        <a th:if="${booking.customer != null}" th:href="@{/admin/customers/customer(id=${booking.customer.id})}">
            <span th:text="${booking.customer.name}"></span>
        </a>
        <span th:if="${booking.customer == null}" class="text-dager">Customer deleted</span>
    </div>
</div>
<div th:if="${booking.touchUp == true}" class="card" style="margin-bottom: 10px;">
    <p class="card-header">Previous booking:</p>
    <a th:href="@{/admin/booking/booking-information(id=${booking.previousBooking.id})}"
       th:text="${#temporals.format(booking.previousBooking.date, 'dd/MM')}" class="card-body"></a>
</div>
<div th:if="${booking.touchUp != true}" class="card" style="margin-bottom: 10px;">
    <span class="card-header">Deposit paid</span>
    <div class="card-body">
        <form th:action="@{/admin/booking/change-booking-deposit-state}" method="post">
            <input type="hidden" name="id" th:value="${booking.id}"/>

            <div class="btn-group" role="group">
                <button
                        type="submit"
                        class="btn"
                        th:classappend="${booking.depositPaid} ? 'btn-success' : 'btn-outline-success'">
                    Yes
                </button>
                <button
                        type="submit"
                        class="btn"
                        th:classappend="${booking.depositPaid} ? 'btn-outline-danger' : 'btn-danger'">
                    No
                </button>
            </div>
        </form>
    </div>
</div>
<p th:if="${booking.touchUp == true and booking.previousBooking.tattooImage == null}" class="text-danger">No image
    uploaded.</p>

<div th:if="${booking.touchUp == true and booking.previousBooking.tattooImage != null}">
    <a data-bs-toggle="modal"
       data-bs-target="#imageModal"
       th:attr="data-bs-image=${booking.previousBooking.tattooImage.url}, data-bs-caption=${'Booking image'}">
        <img th:src="${booking.previousBooking.tattooImage.url}"
             alt="Tattoo preview"
             style="cursor: pointer; width:25%">
    </a>
</div>


<div th:if="${booking.touchUp != true}" class="row">
    <div th:if="${booking.tattooImage != null}" class="col-12 col-md-6 col-lg-4">
        <div class="fifteen-px-margin-top-bottom card">
            <p class="card-header">Image</p>
            <div class="card-body">
                <a data-bs-toggle="modal"
                   data-bs-target="#imageModal"
                   th:attr="data-bs-image=${booking.tattooImage.url}, data-bs-caption=${'Booking image'}">
                    <img th:src="${booking.tattooImage.url}"
                         alt="Tattoo preview"
                         style="cursor: pointer; width:100%">
                </a>
                <form th:action="@{/admin/booking/delete-image}" method="post" class="mt-2">
                    <input type="hidden" name="id" th:value="${booking.id}">
                    <button type="submit" class="btn btn-primary">Delete image</button>
                </form>
            </div>
        </div>
    </div>

    <div th:if="${booking.tattooImage == null}" class="col-12 col-md-6 col-lg-4">
        <div class="fifteen-px-margin-top-bottom card">
            <p class="card-header">Upload image</p>
            <form th:action="@{/admin/booking/upload-image}" method="post" style="padding: 10px;"
                  enctype="multipart/form-data">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" th:name="id" th:value="${booking.id}">
                <div class="form-group">
                    <label for="file">Choose an image:</label><br>
                    <input type="file" id="file" name="file" accept="image/*" class="form-control" required>
                </div>
                <br>
                <div class="form-group ">
                    <label>Select categories:</label><br>
                    <div th:each="category : ${categories}" style="display: inline-block;">
                        <label>
                            <input type="checkbox"
                                   name="categoryIds"
                                   th:value="${category.id}"
                                   th:id="'cat-' + ${category.id}">
                        </label>
                        <label th:for="'cat-' + ${category.id}"
                               th:text="${category.category}"></label>
                        <br>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mt-2">Upload</button>
            </form>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card fifteen-px-margin-top-bottom">
            <p class="card-header">Notes</p>
            <div class="card-body">
                <form th:action="@{/admin/booking/update-booking-notes}" method="post">
                    <small>(max 1000 characters)</small>
                    <label>
                        <textarea th:text="${booking.notes}"
                                  name="notes"
                                  class="form-control"
                                  rows="5"
                                  maxlength="1000"
                                  required></textarea>
                    </label>
                    <input type="hidden" name="id" th:value="${booking.id}">
                    <br>
                    <button type="submit" class="btn btn-primary">Save notes</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card fifteen-px-margin-top-bottom">
            <p class="card-header">Price</p>
            <div class="card-body">
                <form th:action="@{/admin/booking/update-booking-price}" method="post">
                    <label>
                        <input type="number" name="price" id="price" min="0" th:value="${booking.finalPrice}">
                        <span>SEK</span>
                    </label>
                    <input type="hidden" name="id" th:value="${booking.id}">
                    <br>
                    <button type="submit" class="btn btn-primary" style="margin-top: 8px;">Change price</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <form th:action="@{/admin/booking/cancel-appointment}" method="post" style="display:inline;">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>
        <input type="hidden"
               name="id"
               th:value="${booking.id}"/>
        <button type="submit" class="btn btn-danger fifteen-px-margin-top-bottom">Cancel appointment</button>
    </form>
</div>


<div th:replace="~{layouts/image-modal :: image-modal}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>