<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Bookings</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/admin-style.css">
</head>
<body class="container">
<div th:replace="~{layouts/admin-layout :: header}"></div>

<form th:action="@{/admin/booking/bookings}" method="get">
    <span>View bookings between</span>
    <br>
    <label>
        <input type="date" name="fromDate" required>
    </label> - <label>
    <input type="date" name="toDate" required>
</label>
    <br>
    <button type="submit" class="btn btn-success booking-buttons btn-sm">Submit</button>
</form>

<br>

<div th:replace="~{layouts/admin-layout :: feedback-error}"></div>

<div th:if="${upcomingBookings != null}" class="card">
    <h4 class="card-header">Bookings</h4>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Hours</th>
            <th scope="col">Customer</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="booking : ${upcomingBookings}" th:class="${booking.touchUp} ? 'table-warning' : 'table-light'">
            <td>
                <a th:href="@{/admin/booking/booking-information(id=${booking.id})}"
                   th:text="${booking.date.getYear() + ' ' + booking.date.getDayOfMonth() + ' '
                                    + #strings.capitalize(booking.date.getMonth().toString().toLowerCase())}"
                   style="white-space: nowrap;">
                </a>
                <br th:if="${booking.touchUp}">
                <a th:if="${booking.touchUp}" th:href="@{/admin/booking/booking-information(id=${booking.id})}"
                   th:text="'(' + ${booking.previousBooking.date.getYear() + ' ' + booking.previousBooking.date.getDayOfMonth() + ' '
                                    + #strings.capitalize(booking.previousBooking.date.getMonth().toString().toLowerCase())} + ')'"
                   class="link-success"
                   style="white-space: nowrap;">
                </a>
            </td>
            <td>
                <a th:text="${#temporals.format(booking.date, 'HH:mm')} + ' - ' + ${#temporals.format(booking.endTime, 'HH:mm')}">
                </a>
            </td>
            <td>
                <a th:if="${booking.customer != null}"
                   th:href="@{/admin/customers/customer(id=${booking.customer.id})}"
                   th:text="${booking.customer.name}"></a>
                <span th:if="${booking.customer == null}">Customer deleted</span>
            </td>
            <td>
                <p th:if="${booking.finalPrice != 0}" th:text="${booking.finalPrice + ':-'}"></p>
            </td>
        </tr>
        <tr>
            <th scope="col">Total price</th>
        </tr>
        <tr class="table-primary">
            <td>
                <p th:text="${totalCost + ':-'}"></p>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
</body>
</html>