<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Bookings</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="container">
<div th:replace="~{layouts/admin-layout :: header}"></div>

<form th:action="@{/admin/booking/bookings}" method="get">
    <span>View bookings between</span>
    <br>
    <input type="date" name="fromDate" required> - <input type="date" name="toDate" required>
    <br>
    <button type="submit" class="btn btn-success booking-buttons btn-sm">Submit</button>
</form>

<div th:if="${errorMessage != null}">
    <p th:text="${errorMessage}" class="text-danger"></p>
</div>

<div class="upcoming-bookings" th:each="booking:${upcomingBookings}">
    <a th:href="@{/admin/booking/booking-information(id=${booking.id})}">
        <span th:text="|${#temporals.format(booking.date, 'dd/MM | HH:mm')} - ${#temporals.format(booking.endTime, 'HH:mm')} : ${booking.customer.name}|" class="text-success"></span>
    </a>
    <span th:if="${booking.touchUp == true}">
        (Touch up)
        <p th:text="${booking.previousBooking.date}"></p>
    </span>
</div>


<form th:action="@{/admin/booking/remove-all-bookings}" method="post" style="position:absolute; bottom: 0; right: 0;">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit" class="btn btn-danger">Remove all bookings</button>
</form>

</body>
</html>