<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Dates</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="container">
<div th:replace="~{layouts/admin-layout :: header}"></div>
<div class="container mt-4">
    <h1>Confirm Dates</h1>
    <form th:action="@{/add-dates/save-dates}" method="post">
        <div th:each="date : ${dates}">
            <fieldset>
                <legend th:text="${date}">Date</legend>
                <input type="checkbox" th:name="'dropin_' + ${date}" th:value="true"/> Drop in
                <div th:each="time : ${times}">
                    <label>
                        <input type="checkbox" th:name="dates" th:value="${date} + '=' + ${time}" th:checked=true/>
                        <span th:text="${time}"></span>
                    </label>
                </div>
            </fieldset>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>

</div>
</body>
<script src="/js/check-if-saturday.js"></script>
</html>
