<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Customize Portfolio</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/admin-style.css">
</head>
<body class="container">
<div th:replace="~{layouts/admin-layout :: header}"></div>

<div class="container mt-4">
    <h2>Edit Instagram link</h2>
    <form th:action="@{/admin/customize/update-instagram-link}" method="post">
        <div class="card">
            <div class="card-header">
                Current link
            </div>
            <div class="card-body">
                <div class="mb-3">
                <label for="instagramLink"></label>
                <textarea id="instagramLink"
                          name="updatedInstagramLink"
                          class="form-control"
                          th:text="${currentURL}"
                          rows="5"
                          required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <hr>
                <p style="display: flex; justify-content: center;">Current Instagram post:</p>
                <div th:if="${embedHtml != null}" style="display: flex; justify-content: center; margin-top: 20px;">

                    <div th:utext="${embedHtml}"></div>
                </div>
                <div th:if="${embedHtml == null}">
                    <div th:text="Nothing" class="text-danger" style="display:flex; justify-content: center;"></div>
                </div>
            </div>
        </div>
    </form>
</div>


<script async src="//www.instagram.com/embed.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>