<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Customize</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="container">
<div th:replace="~{layouts/admin-layout :: header}"></div>
<h3>Customize site</h3>
<br>
<a href="/admin/customize/latest-news">
    <button class="btn btn-outline-secondary" href="/admin/customize/latest-news">
        Front page - Latest news
    </button>
</a>
<br>
<br>
<a href="/admin/customize/instagram-post">
    <button class="btn btn-outline-secondary" href="/admin/customize/instagram-post">
        Instagram post
    </button>
</a>

</body>
</html>