<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="container">
<div th:replace="~{layouts/admin-layout :: header}"></div>
<div th:each="customer: ${customers}">
    <p th:text="${customer.name}"></p>
</div>
<a href="delete-all-customers"><button class="btn btn-danger">Delete all customers</button></a>
</body>
</html>