<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Product Categories</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="container">
<div th:replace="~{layouts/admin-layout :: header}"></div>

<p th:if="${error != null}" th:text="${error}" class="text-danger"></p>
<p th:if="${success != null}" th:text="${success}" class="text-success"></p>

<div class="card">
    <span class="card-header">Categories</span>
    <div class="card-body">
        <div th:if="${!categories.isEmpty()}">
            <div th:each="category : ${categories}" style="display: flex; align-items: center; gap: 8px; flex-wrap: wrap; margin-bottom: 10px">
                <a th:href="@{/admin/products/products-by-category(category=${category.name})}">
                    <button th:text="${category.name}" class="btn btn-outline-secondary btn-sm"></button>
                </a>
                <span th:if="${category.getProducts() != null}" th:text="${'(' + category.getProducts().size() + ')'}"></span>
                <span th:if="${category.getProducts() == null}">(0)</span>

                <form th:if="${category.getProducts() == null or category.getProducts().isEmpty()}"
                      th:action="@{/admin/products/delete-category}" method="post" style="margin: 0;">
                    <input type="hidden" name="name" th:value="${category.name}">
                    <button type="submit" class="btn btn-danger btn-sm" style="margin-left: 8px;">Delete</button>
                </form>
            </div>
        </div>

        <span th:if="${categories.isEmpty()}" class="text-danger">No categories exist..</span>


        <form th:action="@{/admin/products/add-category}" method="post">
            <label>
                <input type="text" name="name">
            </label>
            <button type="submit" class="btn btn-success">Add category</button>
        </form>
    </div>
</div>
</body>
</html>