<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Product Categories</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/admin-style.css">
</head>
<body class="container">
<div th:replace="~{layouts/admin-layout :: header}"></div>

<div th:if="${successMessage != null}" class="alert alert-success mt-4">
    <span th:text="${successMessage}"></span>
</div>
<div th:if="${errorMessage != null}" class="alert alert-danger mt-4">
    <span th:text="${errorMessage}"></span>
</div>

<div class="card-body">
    <div th:if="${!categories.isEmpty()}" class="card">
        <div class="card-header">Categories</div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Products</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category : ${categories}">
                    <td>
                        <span th:text="${category.name}"></span>
                    </td>
                    <td>
                        <span th:if="${category.getProducts() != null}" th:text="${category.getProducts().size()}"></span>
                        <span th:if="${category.getProducts() == null}">0</span>
                    </td>
                    <td>
                        <a th:href="@{/admin/products/products-by-category(category=${category.name})}">
                            <button class="btn btn-outline-secondary">Manage products</button>
                        </a>
                    </td>
                    <td>
                        <form th:if="${category.getProducts() == null or category.getProducts().isEmpty()}"
                              th:action="@{/admin/products/delete-category}" method="post" style="margin: 0;">
                            <input type="hidden" name="name" th:value="${category.name}">
                            <button type="submit" class="btn btn-danger" style="margin-left: 8px;">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <span th:if="${categories.isEmpty()}" class="text-danger">No categories exist..</span>


    <form th:action="@{/admin/products/add-category}" method="post" style="margin-top:30px">
        <label>
            <input type="text" name="name" placeholder="Enter category name..">
        </label>
        <button type="submit" class="btn btn-success">Add category</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>