<div th:fragment="header">
  <header>
    <div>
      <nav class="navbar navbar-expand-md w-100 navbar-light bg-light front-page-navbar">
          <div class="navbar-nav justify-content-between w-100">
            <a class="nav-item nav-link active" th:href="@{/}">Home</a>
            <a class="nav-item nav-link active" th:href="@{/admin/customize/}">Customize Site</a>
            <a class="nav-item nav-link active" th:href="@{/admin/add-dates/}">Add Bookable Dates</a>
            <a class="nav-item nav-link active" th:href="@{/admin/booking/book-tattoo}">Book Tattoo</a>
            <a class="nav-item nav-link active" th:href="@{/admin/booking/bookings}">View Bookings</a>
            <a class="nav-item nav-link active" th:href="@{/admin/customer}">Customer Information</a>
          </div>
      </nav>
    </div>
  </header>
</div>
