<div th:fragment="calendar">

    <table class="calendar-table">
        <tr>
            <th class="calendar-table-header">Mon</th>
            <th class="calendar-table-header">Tue</th>
            <th class="calendar-table-header">Wed</th>
            <th class="calendar-table-header">Thu</th>
            <th class="calendar-table-header">Fri</th>
            <th class="calendar-table-header">Sat</th>
            <th class="calendar-table-header text-danger">Sun</th>
        </tr>
        <tr th:each="week : ${#numbers.sequence(0, days.size() / 7 - 1)}">
            <td class="calendar-column"
                th:each="i : ${#numbers.sequence(0, 6)}"
                th:with="day=${days[week * 7 + i]}"
                th:text="${day.date.dayOfMonth}"
                th:classappend="${day.currentMonth ?
                    (day.fullyBooked ? 'no-available-hours' :
                        (day.touchUp ? 'touch-up' :
                            (day.dropIn ? 'drop-in' :
                                (day.bookable ? 'available-hours':
                                    'not-bookable'))))
                                        : 'not-current-month'}"
                th:attr="data-date=${day.date}, data-hours=${day.hours}">
            </td>
        </tr>
    </table>
    <br>

    <div class="row">
        <div class="calendar-bottom-columns available-hours col-md-3 col-sm-6">Lediga tider</div>
        <div class="calendar-bottom-columns touch-up col-md-3 col-sm-6">Lediga touch-up tider</div>
        <div class="calendar-bottom-columns drop-in col-md-3 col-sm-6">Drop in</div>
        <div class="calendar-bottom-columns no-available-hours col-md-3 col-sm-6">Fullbokat</div>
    </div>

    <div class="card tooltip-hidden" id="hoursDisplay"></div>

    <script src="/js/show-hours-tooltip-on-date-mouseover.js"></script>
</div>
