<div th:fragment="calendar">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        td {
            width: 14%;
            padding: 10px;
            text-align: center;
            border: 1px solid #ccc;
            position: relative;
        }

        th {
            text-align: center;
        }
    </style>

    <table>
        <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th class="text-danger">Sun</th>
        </tr>
        <tr th:each="week : ${#numbers.sequence(0, days.size() / 7 - 1)}">
            <td th:each="i : ${#numbers.sequence(0, 6)}"
                th:with="day=${days[week * 7 + i]}"
                th:text="${day.date.dayOfMonth}"
                th:classappend="${day.currentMonth ?
                    (day.fullyBooked ? 'no-available-hours' :
                        (day.touchUp ? 'touch-up' :
                            (day.dropIn ? 'drop-in' :
                                (day.bookable ? 'available-hours':
                                    'not-bookable'))))
                                        : 'not-current-month'}"
                th:attr="data-date=${day.date}, data-hours=${day.hours}"
                onclick="showTooltip(event, this)"
                onmouseover="showTooltip(event, this)"
                onmousemove="moveTooltip(event)"
                onmouseout="hideTooltip()"
            >
            </td>
        </tr>
    </table>
    <br>

    <div class="row">
        <div class="calendar-bottom-columns available-hours col-md-3 col-sm-6">Lediga tider</div>
        <div class="calendar-bottom-columns touch-up col-md-3 col-sm-6">Lediga touch-up tider</div>
        <div class="calendar-bottom-columns drop-in col-md-3 col-sm-6">Drop in</div>
        <div class="calendar-bottom-columns no-available-hours col-md-3 col-sm-6">Fullbokat</div>
    </div>

    <div class="card" id="hoursDisplay"></div>

    <script src="/js/show-hours-tooltip-on-date-mouseover.js"></script>
</div>
