.top-padded-body{
    padding-top: 5px;
}
.front-page-images{
    padding-top:10px;
    display: flex;
    margin: auto;
    width: 50%;
}
.centered{
    margin: auto;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
}
.front-page-navbar{
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
}
.front-page-container {
    display: flex;
    align-items: flex-start;
}
.front-page-card{
    width: 20%;
    margin-right: 20px;
}
.front-page-card-text {
    white-space: pre-line;
}
.logo{
    padding-top:20px;
}
.image-select{
    display: inline-block;
    margin: 5px;
}
.info-item{
    margin-right: 8px;
    margin-bottom: 10px;
}
.time-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.confirm-date-button{
    margin-top: 20px;
}
#dateInputs{
    margin-top: 20px;
    margin-bottom: 20px;
}
.navbar-pink{
    background-color: #f1d7fa;
}
.navbar-dropdown-pink{
    background-color: #fbf4ff;
}
.no-available-hours {
    color: rgb(154, 146, 146);
}
.available-hours {
    color: #3a8600;
    background-color: #d6fabc;
}
.not-current-month { color: #e8e8e8; }

.drop-in{
    color: #92169b;
    background-color: #fabcf7;
}

.touch-up{
    color: #7e811a;
    background-color: #f9ffc2;
}

.month-picker {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
}

.month-picker a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.calendar-bottom-table-container{
    padding-bottom: 20px;
    padding-top: 20px;
    width: 42.9%;
    display: flex;
    align-items: center;
    justify-content: center;
}