:root {
    --primary-pink: #f1d7fa;
    --secondary-pink: #fbf4ff;
    --tertiary-pink: #e7affa;
    --quaternary-pink: #de85fd;
    --primary-brown: #938776;
    --secondary-brown: #dcd2c6;
    --tertiary-brown: #484339;
}

.primary-pink-background{
    background-color: var(--primary-pink);
}
.secondary-pink-background{
    background-color: var(--secondary-pink);
}
.tertiary-pink-background{
    background-color: var(--tertiary-pink);
}
.page-margin{
    margin-right: 12px;
    margin-left: 12px;
}
.centered{
    margin: auto;
    text-align: center;
}
.front-page-navbar{
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
}
.front-page-card-text {
    white-space: pre-line;
}
.front-page-link{
    color: var(--primary-brown);
    text-decoration: none;
}
.front-page-link:hover{
    color: var(--secondary-brown);
}
.logo{
    padding-top: 10px;
    margin: auto;
}
@media (min-width: 768px) {
    .logo {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .logo {
        width: 75%;
    }
}
.booking-form-card{
    display: flex;
    margin-bottom: 20px;
}
.booking-form-body{
    text-align: left;
    padding: 10px;
}
.before-your-visit-list{
    margin-left:15px;
}
.info-item{
    margin-right: 8px;
    margin-bottom: 10px;
}
.time-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.no-available-hours {
    color: #860000;
    background-color: #fabcbc;
}
.available-hours {
    color: #3a8600;
    background-color: #d6fabc;
}
.not-current-month { color: #e8e8e8; }

.drop-in{
    color: #92169b;
    background-color: #fabcf7;
}

.touch-up{
    color: #7e811a;
    background-color: #f9ffc2;
}

.month-picker {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
}

.month-picker a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.calendar-table-header{
    text-align: center;
}
.calendar-table{
    width: 100%;
    border-collapse: collapse;
}
.calendar-column{
    width: 14%;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    position: relative;
}

.calendar-bottom-columns{
    border: 1px solid #ccc;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#hoursDisplay {
    width: 5rem;
    position: absolute;
    background-color: #fff;
    z-index: 1000;
    color: #333;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

#hoursDisplay.tooltip-visible {
    opacity: 1;
    transform: translateY(0);
}

#hoursDisplay.tooltip-hidden {
    opacity: 0;
    transform: translateY(10px);
}

#hoursDisplay hr {
    margin: 0;
    padding: 0;
}

.instagram-outer-container {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.instagram-outer-container.visible {
    opacity: 1;
}

#instagram-wrapper {
    border-radius: 20px;
    padding: 10px 30px;
    display: inline-block;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#instagram-content {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#instagram-content.visible {
    opacity: 1;
}

.spinner-border.custom-spinner{
    color: var(--tertiary-pink);
}

.spinner-loading-text{
    color: var(--quaternary-pink);
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 2px;
}

.hidden {
    display: none;
}
.product-header{
    margin-bottom: 10px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
.product-body {
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

.modal-body > .img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn.primary-pink-background:hover {
    background-color: var(--tertiary-pink)
}

.footer-font {
    color: var(--tertiary-pink);
    padding-left: 5px;
    padding-right: 5px;
}

.footer-font:hover{
    color: var(--quaternary-pink);
}

.accordion-button:not(.collapsed) {
    background-color: var(--primary-pink);
    color: inherit;
    box-shadow: none;
}