.top-padded-body{
    padding-top: 5px;
}
.front-page-images{
    padding-top:10px;
    display: flex;
    margin: auto;
    width: 50%;
}
.centered{
    margin: auto;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
}
.front-page-navbar{
    padding-left: 50px;
    padding-right: 50px;
}
.navbar
{
    border:1px solid #000000;
}
.logo{
    padding-top:20px;
}
.image-select{
    display: inline-block;
    margin: 5px;
}
.info-item{
    margin-right: 8px;
    margin-bottom: 10px;
}
.time-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.confirm-date-button{
    margin-top: 20px;
}
#dateInputs{
    margin-top: 20px;
    margin-bottom: 20px;
}