<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lev i Buet</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index-style.css">
</head>
<body class="top-padded-body">
<h2 class="centered">Lev i Buet</h2>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light front-page-navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav justify-content-between w-100">
                <a class="nav-item nav-link" href="/">Hem</a>
                <a class="nav-item nav-link active" href="/about-me">Om mig</a>
                <a class="nav-item nav-link" href="#">Pricing</a>
            </div>
        </div>
    </nav>
</div>
<p class="centered">JAG HETER TANA</p>

</body>
</html>