<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin layout</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div th:fragment="header">
  <header>
    <h1>My Website</h1>
    <nav>
      <ul>
        <li><a th:href="@{/admin/book-tattoo}">Book Tattoo</a></li>
        <li><a th:href="@{/admin/bookings}">View Bookings</a></li>
        <li><a th:href="@{/admin/adjust-booking}">Adjust Booking</a></li>
        <li><a th:href="@{/admin/set-front-page-images}">Set Front Page Images</a></li>
        <li><a th:href="@{/admin/customer}">Customer Information</a></li>
        <li><a th:href="@{/index.html}">Home</a></li>
        <li><a th:href="@{/about.html}">About</a></li>
        <li><a th:href="@{/contact.html}">Contact</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- Section that will be filled by other pages -->
<div th:fragment="content">
  <!-- This is where the content will be injected -->
</div>

<footer>
  <p>2024 My Application</p>
</footer>
</body>
</html>
