<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lev i Buet</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="container">
<div th:replace="~{customer-layout :: nav-bar}"></div>

<div th:each="date : ${bookableDates}">
    <p>
        <span th:text="${date.date} + ' - '"></span>
        <span th:each="time : ${date.bookableHours}"
              th:text="${time.hour} + ' '"
              th:classappend="${time.booked} ? 'text-danger' : 'text-success'"></span>
    </p>
</div>

</body>
</html>