<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div th:fragment="nav-bar">
  <div class="centered"><img src="/images/Lev_i_buet_Logo.PNG" class="img-fluid w-50 logo"></div>
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light front-page-navbar w-75 centered">

        <div class="navbar-nav justify-content-between w-100">
          <a class="nav-item nav-link" href="/">Hem</a>
          <a class="nav-item nav-link active" href="/about-me">Om mig</a>
          <a class="nav-item nav-link" href="#">Bokningskalender</a>
          <a class="nav-item nav-link" href="#">Portfolio</a>
          <a class="nav-item nav-link" href="#">Lediga flash</a>
        </div>

    </nav>
  </div>
</div>
<!-- Section that will be filled by other pages -->
<div th:fragment="content">
  <!-- This is where the content will be injected -->
</div>

<footer>
  <p>2024 My Application</p>
</footer>
</body>
</html>
