<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Lev i Buet</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<div th:replace="~{layouts/customer-layout :: nav-bar}"></div>
<body class="container">

<div class="front-page-container container">
    <div class="row">
        <div class="card bg-light col-md-4 col-sm-12 px-0">
            <div class="card-header front-page-card-header">
                Senaste nytt
            </div>
            <div class="card-body">
                <p class="front-page-card-text" th:utext="${frontPageNews}">Default text here...</p>
            </div>
        </div>
        <span class="col-8">hejhejhej här är framsidan. till vänster är ett kort. kul kul kul</span>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.7.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</body>
</html>