<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Image Upload</title>
</head>
<body>
<h1>Upload an Image</h1>
<form method="post" enctype="multipart/form-data" action="/admin/upload">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="file" name="file" required />
    <button type="submit">Upload</button>
</form>

<h2>Front Page Images</h2>
<ul>
    <li th:each="image : ${imagesOnFrontPage}">
        <a th:href="'/admin/changeImageState?url=' + ${image.url}">
            <img th:src="@{/admin/images/{id}(id=${image.id})}" th:alt="${image.name}" width="150" height="150" />
        </a>
    </li>
</ul>

<h2>Non Front page Images</h2>
<ul>
    <li th:each="image : ${imagesNotOnFrontPage}">
        <a th:href="'/admin/changeImageState?url=' + ${image.url}">
            <img th:src="@{/admin/images/{id}(id=${image.id})}" th:alt="${image.name}" width="150" height="150" />
        </a>
    </li>
</ul>
</body>
</html>
