<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Lev i buet - Om mig</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body class="container">
<div th:replace="~{layouts/customer-layout :: nav-bar}"></div>
<div class="page-margin">
    <p>Jag heter Sarah och är personen bakom Lev i buet.</p>
    <p>Min resa som tatuerare började 2021, då jag inledde min lärlingsperiod på True Tattoo – Stockholms äldsta tatueringsstudio, grundad av branschlegenden Doc Forest. Jag avslutade min lärlingstid på studion Krets och fick under perioden handledning av flera olika tatuerare, främst under ledning av Linda Gau.</p>
    <p>Innan jag började tatuera har jag studerat konst i olika former. Jag har en bakgrund inom keramik från Nyckelviksskolan, samt ett fördjupningsår med inriktning på grafisk design och illustration på Konstskolan Basis. Jag har även läst kurser inom Ädellab Corpus på Konstfack, bland annat.</p>
    <p>Min konstnärliga bakgrund och mitt intresse för form, material och berättande är grunden i mitt uttryck – både på papper och på huden.</p>
    <p>Jag har alltid dragits till illustration. Jag har format ett eget konstnärligt uttryck som känns både personligt och meningsfullt. Min stil balanserar det lekfulla och det allvarliga, ofta med en naivistisk ton som skapar ett eget visuellt språk.</p>
    <p>Med en bakgrund inom både klassisk konst och grafisk design arbetar jag många gånger utifrån klassiska motiv likt stilleben och kroki som jag sedan gärna förvränger och tillför humor till. Jag gillar att jobba med tydliga linjer och när jag tatuerar för jag ofta samma linjer från skissblocket till hud, men jag utforskar också gärna textur, djup svärta och färg för att ge varje tatuering ett unikt liv.</p>
    <p>Min relation till tatueringar tog fart på riktigt började när jag var 18 år och gjorde min första. Jag minns euforin jag kände direkt efter och hur starkt självförtroende den gav mig.</p>
    <p>Det jag älskar mest med mitt yrke är att jag får möta så många människor som jag aldrig hade fått chansen att lära känna annars. Och att få ge dem den där känslan jag själv hade när jag var arton och gick från tanke till tatuering.</p>
    <p>För mig är det viktigt att varje tatuering inte bara bli något du älskar, utan också en positiv och trygg upplevelse. Jag lägger stor vikt vid att skapa en miljö där du som kund känner dig sedd, hörd och respekterad – oavsett om det är din första tatuering eller din “I don’t even know any more” tatuering är din trygghet a och o.</p>
    <p>Att tatuera sig är ett beslut som bärs med genom livet. Det ska få vara både spännande och lite pirrigt, men aldrig kännas forcerat eller otryggt. Mitt mål är att du som kommer till mig ska känna dig lugn i processen – och såklart nöjd med resultatet.</p>

    <div class="row">
        <a data-bs-toggle="modal"
           data-bs-target="#imageModal"
           th:attr="data-bs-image=${'/images/Examensbevis.PNG'}, data-bs-caption=${'Examensbevis'}"
            class="col-3 col-lg-2">
            <img th:src="${'/images/Examensbevis.PNG'}"
                 th:alt="${'Examensbevis'}"
                 class="img-thumbnail"
                 style="cursor: pointer;">
        </a>
        <a data-bs-toggle="modal"
           data-bs-target="#imageModal"
           th:attr="data-bs-image=${'/images/Kursintyg.jpg'}, data-bs-caption=${'Kursintyg'}"
           class="col-3 col-lg-2">
            <img th:src="${'/images/Kursintyg.jpg'}"
                 th:alt="${'Kursintyg'}"
                 class="img-thumbnail"
                 style="cursor: pointer;">
        </a>
    </div>
</div>


<div th:replace="~{layouts/image-modal :: image-modal}"></div>
<div th:replace="~{layouts/customer-layout :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/js/display-image-modal.js"></script>
</body>
</html>