<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Lev i buet - Inför ditt besök</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body class="container">
<div th:replace="~{layouts/customer-layout :: nav-bar}"></div>
<div class="page-margin">
    <h2>Inför ditt besök</h2>
    <p class="text-center">(Viktig information för en trygg och säker miljö)</p>
    <br>
    <p>För att hålla studion ren och trygg ber jag dig att följa dessa riktlinjer under ditt besök:</p>
    <div class="before-your-visit-list">
        <p>– Använd handsprit direkt när du kommer in i lokalen.</p>
        <p>– Häng upp jacka och väska på avsedda krokar – dessa får inte placeras på golvet i tatueringsrummet.</p>
        <p>– Fråga alltid innan du sätter ned mobil, dryck eller andra personliga föremål – detta för att undvika kontaminering av arbetsytor.</p>
        <p>– Rör aldrig tatueringsstationen eller soptunnan vid min arbetsplats.</p>
        <p>– Undvik plötsliga rörelser och att gestikulera medan jag tatuerar. Meddela mig i god tid om du behöver hosta, nysa eller röra dig, så att jag hinner lyfta nålen.</p>
    </div>
    <br>

    <h5 class="text-center">Tack för att du hjälper till att hålla miljön säker för både dig och mig!</h5>
</div>
<div th:replace="~{layouts/customer-layout :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>