<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
  <title>Lev i buet - Bokning</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body class="container">
<div th:replace="~{layouts/customer-layout :: nav-bar}"></div>
<div class="card page-margin booking-form-card">
  <h5 class="card-header secondary-pink-background">Bokningsförfrågan</h5>
  <div class="booking-form-body">
    <form class="booking-form" id="bookingForm" method="POST" action="/send-booking-request">
      <input type="hidden" name="_csrf" value="${_csrf.token}" />
      <div class="form-group">
        <label for="name">Namn *</label>
        <input type="text" class="form-control" name="name" id="name" required>
      </div>
      <div class="form-group">
        <label for="phone">Telefon *</label>
        <input type="tel" class="form-control" name="phone" id="phone" required>
      </div>
      <div class="form-group">
        <label for="mail">Email</label>
        <input type="email" class="form-control" name="email" id="mail">
      </div>
      <label for="instagram">Instagram (Ej om du har låst Instagram)</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="at">@</span>
        </div>
        <input type="text" class="form-control" name="instagram" id="instagram" aria-describedby="at">
      </div>
      <div id="contactError" class="text-danger mb-2" style="display: none;"></div>
      <label for="size">Storlek</label>
      <div class="input-group mb-3">
        <input type="number" class="form-control" name="size" id="size" aria-describedby="cm">
        <div class="input-group-append">
          <span class="input-group-text" id="cm">cm</span>
        </div>
      </div>
      <div class="form-group">
        <label for="placement">Placering på kroppen</label>
        <input type="text" class="form-control" name="placement" id="placement">
      </div>
      <div class="form-group">
        <label for="inspiration">Länkar till inspirations-bilder (rå länk till bild, länk till google drive etc)</label>
        <input type="text" class="form-control" name="inspiration" id="inspiration" placeholder="https://">
      </div>
      <br/>
      <span>* Obligatorisk</span><br>
      <button type="submit" class="btn btn-success">Skicka</button>
    </form>
  </div>

</div>

<div class="card page-margin">
  <h5 class="card-header secondary-pink-background">Bokningsinformation</h5>
  <div class="card-body">
    <h5 class="card-title">Deposition</h5>
    <p class="card-text">
      Vid varje bokning tas en deposition i förhand på 500kr.<br/>
      Utan betalad deposition är inte en bokning komplett och anses därav inte bekräftad.<br/>
      Betald deposition dras av på slutpriset av slutfört jobb.
    </p>

    <h5 class="card-title">Touch up</h5>
    <p class="card-text">
      I priset för varje tatuering ingår en kostnadsfri touch up.<br>
      Touch kan tidigast bokas tre veckor efter slutfört jobb.<br>
      Touch up kan senast bokas tre månader efter slutfört jobb.
    </p>
  </div>
</div>

<div th:replace="~{layouts/customer-layout :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>