<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
  <title>Lev i buet - Skötselråd</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body class="container">
<div th:replace="~{layouts/customer-layout :: nav-bar}"></div>
<div class="page-margin">
  <div class="text-center">
    <img src="/images/Skotselrad.PNG" alt="Skötselråd" style="width: 50%;">
    <img src="/images/Wave.PNG" alt="Våg" style="margin-bottom: 20px; margin-top:10px; width:100%;">
  </div>
  <p>• Plasten ska du ha på i minst en dag och max en vecka. Ett bra mellanting är tre dagar. Plasten kallas för Tegaderm och är en medicinsk plast designad för läkning av sår. Plasten blockar bakterier samtidigt som den andas. Det går bra att duscha med plasten på. Det kan bildas vätska på insidan av plasten, det är ingen fara sa länge vätskan ar kvar på insida av plast, börjar vätskan sippra ut så vet du att plasten inte sitter tätt och då tar du av plasten omgående.</p>
  <p>• När du tar av plasten så gör du det under rinnande vatten/i duschen. Pilla upp ett hörn där du spolar ljummet vatten samtidigt som du försiktigt drar i plasten. Tvätta sedan med parfymfri mild tvål, exempelvis en intimtvål eller Lactacyd. För vissa kan limmet från plasten sitta kvar i ett par dagar men det försvinner efter ett par tvättar, låt bli att pilla.</p>
  <p>• Efter tvätten låter du antingen tatueringen självtorka eller så baddar du den torr med en ren handduk. Sedan smörjer du med salvan Bepanthen eller Helosan som finns att köpa på apoteket. Salvan smörjer du med efter varje tvätt men också 1-2 gånger under dagen. Hela tatueringen ska bli fuktig men inte kladdig av salvan.</p>
  <p>• Upprepa tvätt av tatueringen morgon och kväll samt smörjning med salva dagligen i ca 14 dagar, eller tills sårskorporna släppt.</p>
  <p>• Pilla och klia inte på din tatuering under läkningen. Låt sårskorporna lossna av sig själva, annars finns det risk för att tatueringen blir infekterad och läker dåligt. Kliar det akut-mycket får du slå på den med öppen handflata eller så kan du ta ett allergipiller.</p>
  <p>• Bra att tänka på under läkningen: Undvik täta eller åtsittande kläder, parfym,
  hudvårdsprodukter och schampo på tatueringen. Undvik även sol/solarium, alla typer av bad och bastu. Undvik träning de första 3-7 dagarna. Bädda rent sängen och ha på dig rena kläder. Försök att inte komma i direktkontakt med eventuellt husdjur under läkningsprocessen.</p>
  <p>• Om tatueringen blir irriterad eller infekterad, ta kontakt med mig direkt.<br>
  Alternativt besök apotek eller vårdcentralen. Vid eventuella funderingar eller frågetecken, tveka inte, kontakta mig direkt.</p>
  <p class="centered">Tack för att du tatuerar dig hos mig!</p>
  <p class="centered">P.S. SPF är nyckeln till att dina tatueringar ska vara fräscha livet ut.</p>
  <p class="centered">&hearts;</p>
</div>

<div th:replace="~{layouts/customer-layout :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>